---
layout: default
title: H-training | un rendez-vous mentuel avec l'actualité
description: Nous vous donnons nos dernières actualités, nos astuces et nos coups de coeur du moment.
---

<div class="wrapper-actu">
  <div class="container">
      <section>
        <h1 class="text-center text-uppercase">
          Actualités
          <span>.</span>
        </h1>
        <h4 class="text-center">
          Un rendez-vous mensuel avec notre actualité
        </h4>
      </section>
    </div>
</div>
<div class="container">
  <div class="container">
    <div class="row row-actu">
      <div class="col-md-8">
        <div id="posts">
          {% for post in site.posts %}
          <a href="/actualites{{ post.url }}" title="article d'actualités">
            <img src="/images/{{ post.filename }}" class="imageblog" alt="{{ post.filename }}"></img>
          </a>
          <br>
          <small>{{ post.date | date_to_string }}</small> - <small>{{ post.author }}</small>
          <h2><a href="{{ site.baseurl }}/actualites/{{ post.url }}" title="article d'actualités">{{ post.title }}</a></h2>
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          <div class="text-right"><a href="{{ site.baseurl }}actualites/{{ post.url }}" title="article d'actualités">--> Lire la suite</a></div>
          <br>
          <hr>
          <br>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4 archives">
        <div id="archives">
          {% for category in site.categories %}
            <div class="archive-group">
              {% capture category_name %}{{ category | first }}{% endcapture %}
              <div id="#{{ category_name | slugize }}"></div>
              <p></p>

              <h3 class="category-head">{{ category_name }}</h3>
              <a name="{{ category_name | slugize }}"></a>
              <ul>
                {% for post in site.categories[category_name] %}
                <li>
                  <article class="archive-item">
                    <h4><a href="{{ site.baseurl }}actualites/{{ post.url }}">{{post.title}}</a></h4>
                  </article>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
