- content_for :title do
  Actualités | Rendez-vous avec notre actualité
- content_for :meta do
  %meta{:content => "Un rendez-vous complet avec notre actualité chaque jour, chaque semaine et chaque mois.", :name => "description"}/
  %meta{:content => "Préparation Physique spécifique, Suivi de la performance, Réathlétisation, Prévention de blessure, séances, individuelles, collectives", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper5
  .container
    %section
      %h1.text-center.text-uppercase
        Actualités
        %span .
      %h4.text-center
        Rendez-vous avec notre actualité
      %br
