- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.bandeau
  .text-center
    Récupérez vos commandes en click&collect au centre d’entraînement ou en livraison à domicile 7 jours ouvrés pour 6 €

.wrapper.image-boutique
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Boutique
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez notre boutique et n'hésitez plus à commander.
        %br
        Elle se renouvelle très souvent, restez connectés !

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    .row#shop
      .col-md-12
        = image_tag("produits-h-training.jpg", :alt => "Boutique : tous nos articles", class: "img-responsive")
        %br
        %br
        .container-fluid
          .row
            .col-md-4.col-md-offset-4.text-center
              = link_to("https://h-training.sumup.link/?sortField=name&sortDirection=asc&categorySlug=shop", title: "Voir plus sur le shop", :target => "_blank") do
                %span.marge_t10.btn.btn-contact.bounce
                  Je découvre l’intégralité du shop

.wrapper
  .container-fluid

.wrapper.back-grey
  .container-fluid
    .row.text-center
      %h2 CARTE CADEAU
      %h4 À OFFRIR
      %br
      %br
      = image_tag("carte-cadeau.png", :alt => "Boutique : carte cadeau", class: "img-responsive img-pointer")
    .row.marge_t10
      .col-md-4.col-md-offset-4.text-center
        = link_to("https://giftcard.sumup.io/order/GN5ZB71/h-training", title: "Carte Cadeau", :target => "_blank") do
          %span.marge_t10.btn.btn-contact-3
            J'en profite
