- content_for :title do
  CGV | Conditions générales de vente de H-training
- content_for :meta do
  %meta{:content => "Les conditions générales de vente de H-training", :name => "description"}/
  %meta{:content => "cgv", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/


.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        CONDITIONS GÉNÉRALES DE VENTE ET PROTECTION DES DONNÉES PERSONNELLES
        %span .
      %i Version v1.0 - 06.05.2020
      %br
      = link_to("https://h-training.s3.eu-west-3.amazonaws.com/Conditions+ge%CC%81ne%CC%81rales+de+vente+et+politique+de+confidentialite%CC%81+v1.0.pdf", title: "CGV Version v1.0", target: "_blank") do
        Télécharger CGV v1.0
    %br
    %br
    %strong Entre
    %br
    %br
    %p
      La Société par Actions Simplifiée Unipersonnelle H-TRAINING LA ROCHELLE (ci après désigné “le prestataire) au capital de 1 000,00 €, identifiée sous le numéro 853 572 493 (R.C.S. La Rochelle) dont le siège social est situé 188, av du Cimetière Bat B Appt 21 – 17000 LA ROCHELLE et dont le numéro de TVA est FR853572493 représentée par Madame Amandine HOSTYNEK en sa qualité de Présidente. Adresse mail: amandine@h-training.fr et tél: 06 58 10 45 68.
    %strong Et
    %br
    %br
    %p
      Tout client souscrivant à l’un des services ou produits proposés par H-TRAINING ainsi qu’à tout internaute qui accède au site quel que soit le lieu où il se trouve et les modalités de sa connexion au site.
    %br
    %br
    %h2 PRÉAMBULE
    %br
    %br
    %h3 Définitions
    %p
      Le règlement du service souscrit, et le cas échéant l’acceptation des modalités d’étalement du paiement, manifeste la conclusion d’un «
      %strong Contrat d’adhésion
      » entre le Client et H-TRAINING. En cas de contradiction avec tout autre document contractuel du prestataire ou du client, les stipulations des présentes conditions générales prévaudront. Toute commande passée sur le site H-TRAINING constitue la formation d’un contrat conclu à distance entre le client et H-TRAINING.
      %br
      %br
      «
      %strong Client
      » désigne la personne qui a commandé un service ou un produit sur le site internet ou au sein de la structure.
      %br
      %br
      «
      %strong Vendeur
      » désigne la structure H-TRAINING dans le cas d’une vente de marchandises.
      %br
      %br
      «
      %strong Adhérent
      » désigne un membre actif qui fait usage d’un service H-TRAINING.
      %br
      %br
      «
      %strong Services
      » désignent : H-PERF- H-PRO- H-(2)O- H-(REHAB)- H-SPÉ “RUGBY” - H&CO- SERVICE bronze/argent/or. Ils sont dispensés au centre d’entraînement, 24 avenue Paul Langevin 17180 Périgny.
      %br
      %br
      «
      %strong Produits
      » désignent : articles du SHOP, chèque cadeau.
      %br
      %br
      «
      %strong Prestataire
      » désigne la structure H-TRAINING.
      %br
      %br
      «
      %strong Prestation
      » désigne le service que fournit le prestataire au bénéficiaire parmi la sélection d’offres contenues dans son catalogue et dans le respect de la méthode de travail propre aux membres de H-TRAINING incluant une évaluation initiale, une personnalisation des programmes et des conseils ainsi qu’un réajustement régulier au regard d’évaluations intermédiaires, étant entendu que les conditions d’exécution de ce service sont dépendantes de la disponibilité à la date choisie par le bénéficiaire.
      %br
      %br
      «
      %strong Intervenant
      » désigne le professionnel salarié de H-TRAINING ou le professionnel non salarié (kinésithérapeute, nutritionniste et autre professionnel) qui anime physiquement la prestation, lié par un contrat de sous-traitance avec le prestataire.
      %br
      %br
      «
      %strong Données personnelles
      » désigne toute information servant notamment sur internet à l’identification d’une personne physique (nom, prénom, adresse électronique etc).
      %br
      %br
      «
      %strong Site
      » désigne le site Internet exploité par le Prestataire dont l’adresse est
      = link_to('/', title: "Homepage de H-training", target: "_blank") do
        https://h-training.fr
    %br
    %br
    %h2
      ARTICLE 1- CHAMP D’APPLICATION
    %p
      Les présentes Conditions Générales de vente (dites «CGV») s’appliquent, sans restriction ni réserve à tout achat de services et/ou de produits.
      %br
      %br
      Les caractéristiques principales des services et produits sont présentées sur le site internet.
      %br
      Le client est tenu d’en prendre connaissance avant toute passation de commande. Son choix est de sa seule responsabilité.
      %br
      %br
      Les CGV sont accessibles à tout moment sur le site H-TRAINING et prévaudront sur toute autre document.
      %br
      Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande.
      %br
      Sauf preuve contraire, les données enregistrées dans le système informatique du Prestataire constituent la preuve de l’ensemble des transactions conclues avec le client.
      %br
      %br
      La commande de tout service ou produit par le client implique son adhésion aux présentes conditions générales de ventes.
      %br
      Le client déclare avoir pris connaissance des présentes conditions générales de ventes et les accepter dans leur intégralité.
      %br
      %br
      Ce document est complété par le règlement intérieur consultable sur le site et dans les locaux de H-TRAINING, que l’adhérent déclare accepter.
      %br
      %br
      Le Vendeur se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande. Ces CGV sont consultables sur le site internet de la société . Les versions seront datées et numérotées sous la forme v1.0 puis v1.1, v1.2 (...) v1.9, v2.0, v2.1 etc.
    %br
    %br
    %h2
      ARTICLE 2 – PROCESSUS DE COMMANDES
    %p
      Il appartient au client de bien étudier la description et les caractéristiques des services et produits qu’il souhaite acquérir avant validation de sa commande.
      %br
      Le Prestataire se réserve le droit d’annuler ou de refuser toute commande d’un client avec lequel il existerait un litige relatif au paiement d’une commande antérieure.
      %br
      %br
      %strong 2.1
      Il appartient au client de sélectionner sur le site H-TRAINING ou avec la collaboration du prestataire, les services qu’il désire commander.
      %br
      Sa commande s’effectue selon l’une des modalités suivantes :
      %ul
        %li par l’envoi au service administratif du formulaire «Planification» qui lui est adressé et qui doit être complété, dans le cadre d’une nouvelle souscription individuelle ou de son renouvellement
        %li par établissement d’un contrat spécifique entre H-TRAINING et le client (association, société, groupement…)
      %br
      %br
      %strong 2.2
      Il appartient au client de sélectionner sur le site H-TRAINING ou avec la collaboration du prestataire, les produits qu’il désire commander.
      %br
      Sa commande s’effectue selon l’une des modalités suivantes :
      %ul
        %li commande sécurisée sur internet, via le site ou les réseaux sociaux
        %li commande au centre d’entraînement
      %br
      %br
      %strong 2.3
      En cas d’indisponibilité d’un produit après passation de la commande du Client, le Vendeur s'engage à l’en informer dans les meilleurs délais par courrier électronique et à proposer, au choix du Client et sans frais supplémentaires, l'annulation de l’intégralité de sa commande et son remboursement (frais d’envoi compris), dans les meilleurs délais et au plus tard dans les quatorze (14) jours à compter de la demande de remboursement par le Client.
      %br
      Pour confirmer définitivement sa commande sur le site internet, le Client doit cocher la case « J'ai lu et j’accepte les Conditions Générales de Vente» puis cliquer sur « Je passe commande ».
      %br
      Le Client est alors redirigé vers la plateforme de paiement sécurisé “Lydia” et confirme son paiement.
      %br
      Le client reçoit un email de confirmation de paiement de la part de la plateforme de paiement.
      %br
      Les produits sont livrés dans un délai maximal de trente (30) jours ouvrables à compter du jour de la commande. Dans le cas d’une livraison à domicile, seules les livraisons en France métropolitaine seront possibles.
      %br
      %br
      %strong 2.4
      La commande d’une carte cadeau s’effectuera sur le site internet ou sur par l’intermédiaire ses réseaux (Instagram, Facebook) où il sera redirigé automatiquement pour réaliser sa commande sur l’application “GiftUp”. Il effectuera son paiement via la plateforme sécurisée “Paypal”.
      %br
      Cette carte cadeau doit être utilisée dans les 12 mois suivant l’achat.
    %br
    %br
    %h2
      ARTICLE 3 – TARIFS
    %p
      %strong 3.1
      Les tarifs des services et produits figurent sur le site internet accessibles depuis la rubrique «services» et «shop» lors de l’enregistrement de la commande par le prestataire et sont affichés également au centre d’entraînement.
      %br
      %br
      Les tarifs sont exprimés en euros toutes taxes comprises (TTC). H-TRAINING se réserve le droit de modifier le prix des services et des produits à tout moment, toutefois le prix de vente des services et produits est celui en vigueur au jour de la commande par le client. Le montant dû par le client figure sur la facture qui lui est adressée et doit être réglé en euros quelle que soit son adresse de facturation.
      %br
      %br
      Les prix des services tiennent compte de la conception des séances, leur animation, et la réalisation du suivi.
      %br
      Le total du prix sera fonction du nombre de séances nécessaires pour atteindre les objectifs de l’adhérent et d’un éventuel recours à des activités complémentaires (nutrition, relaxation-sophrologie, kinésithérapie etc...).
      %br
      %br
      %strong 3.2
      En cas de demande particulière du client pour souscrire davantage de services, les coûts y étant liés feront l’objet d’une facturation complémentaire ultérieure.
      %br
      Dans le cas d’un contrat spécifique, l’édition d’un avenant sera nécessaire entre le prestataire et le client.
      %br
      %br
      %strong 3.3
      Dans le cas d’une livraison à domicile d’un produit, les frais de port seront mentionnés et ajoutés au prix du produit avant de passer commande.
    %br
    %br
    %h2
      ARTICLE 4 – CONDITIONS DE PAIEMENT
    %p
      Le prix est payé selon l’une des modalités suivantes :
      %ul
        %li virement bancaire
        %li chèque ou espèces
        %li carte bancaire via le réseau LYDIA (plateforme sécurisée)
        %li paiement en ligne via le réseau PAYPAL
      %br
      au Prestataire dont les coordonnées sont communiquées au client lors de la passation de la commande.
      %br
      %br
      %strong 4.1
      Le prix est payable en totalité et en un seul versement à compter de la réception de la facture adressée à l’adhérent, tel que précisé sur cette dernière, dans le cas d’un service.
      %br
      Le prix est payable en totalité et en un seul versement à la commande pour l’achat d’un produit.
      %br
      %br
      %strong 4.2
      En cas de retard de paiement inférieur à 30 jours, une pénalité correspondant à un taux d’intérêt de 10% de la somme due pourra être appliquée par le prestataire du seul fait du non-respect de la date d’échéance par le client. Au delà de 30 jours, ce taux sera réévalué à 30%.
      %br
      %br
      %strong 4.3
      Les paiements effectués par le client ne seront considérés comme définitifs qu’après encaissement effectif des sommes dues, par le Prestataire.
      %br
      Le Prestataire ne sera pas tenu de procéder à la fourniture des services commandés par l’adhérent si celui-ci ne lui en paye pas le prix en totalité dans les conditions ci-dessus indiquées.
      %br
      %br
      %strong 4.4
      En cas de défaut de paiement ou de refus d’autorisation émanant de la banque du client, le Prestataire sera en droit de suspendre le processus de passation de la réservation, et de réclamer les sommes dues suite au rejet de prélèvement pour solde insuffisant.
    %br
    %br
    %h2
      ARTICLE 5 – PRISE D’EFFET DU SERVICE SOUSCRIT – «CONTRAT D'ADHÉSION»
    %p
      Le règlement du service souscrit, et le cas échéant l’acceptation des modalités d’étalement du paiement, manifeste la conclusion d’un «contrat d’adhésion» entre le Client et H-TRAINING dont la durée dépend du service souscrit.
      %br
      %br
      %strong 5-1
      Les services à durée déterminée ne sont pas renouvelable par tacite reconduction. Au terme de la période souscrite et à défaut d’avoir souscrit un nouveau service, le service et le contrat d’adhésion cessent de plein droit.
      %br
      %br
      %strong 5-2
      L’adhérent déclare lors de la conclusion du contrat d’adhésion s’engager à prendre toute précaution nécessaire pour sa santé, sa sécurité et son hygiène et à respecter les consignes délivrées par H-TRAINING en ce sens.
      %br
      Il est tenu d’avoir une condition physique qui lui permet la pratique de l’activité physique et sportive qu’il aura sélectionnée.
      %br
      Le “questionnaire de santé” annexé au “Dossier client” lui sera adressé avant toute prestation.
      %br
      Ce questionnaire permet de savoir si le client doit fournir un certificat médical. Si la réponse à toutes les questions est “NON” alors, l’adhérent devra indiquer qu’il a répondu par la négative à chacune des rubriques du questionnaire santé à la fin de celui-ci. Dans ce cas, et conformément au Code du
      %br
      Sport (articles L. 231-2 à L. 231-2-3 et D. 231-1-1 à D. 231-1-5), aucun certificat médical ne sera demandé.
      %br
      Le certificat médical sera obligatoire dans les conditions suivantes :
      %ul
        %li si le client a répondu positivement à l’une des questions du Questionnaire de santé.
        %li dans le cadre des séances dispensées auprès des femmes enceintes, une autorisation médicale pourra être demandée par le prestataire
        %li si l’adhérent est mineur
      %br
      Le certificat médical sera à renouveler chaque année.
      %br
      %br
      %strong 5.3
      Il reconnaît également avoir souscrit aux services proposés par H-TRAINING en toute indépendance et connaissance de cause:
      %ul
        %li après avoir défini ses propres objectifs et ses besoins personnels, en fonction de ses capacités physiques
        %li après avoir pris connaissance des descriptifs des services disponibles sur le site internet
        %li après avoir pris le cas échéant des informations complémentaires auprès de H-TRAINING comme il y est invité.
      %br
      %br
      %strong 5-4
      L’adhérent ne peut céder ou transférer à quiconque de quelque manière que ce soit à titre gratuit ou onéreux le(s) service(s) souscrit(s).
      %br
      %br
      %strong 5-5
      H-TRAINING accepte les jeunes membres de 12 à 18 ans s’il est accompagné par l’un de ses parents ou titulaire de l’autorité parentale au moment de l’adhésion. Il sera donc demandé à ce moment une autorisation parentale et le certificat médical lui donnant accès aux installations sportives et aux activités physiques dispensés au sein de la structure.
    %br
    %br
    %h2
      ARTICLE 6 – FOURNITURES DES PRESTATIONS
    %p
      %strong 6.1
      Lesdits services seront fournis sur la période définie préalablement avec la structure et mentionnée sur la facture.
      %br
      Les intervenants s’engagent à produire leurs meilleurs efforts pour fournir les services commandés par l’adhérent, dans le cadre d’une obligation de moyen et dans les délais ci-dessus précisés.
      %br
      Si les services commandés n’ont pas été fournis dans le délai imparti, après la date indicative de fourniture, pour toute autre cause que la force majeure ou le fait de l’adhérent, la vente des services pourra être résolue à la demande écrite de l’adhérent.
      %br
      Les sommes versées par l’adhérent lui seront restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat, à l’exclusion de toute indemnisation ou retenue.
      %br
      %br
      %strong 6.2
      La fourniture des services pourra être délocalisée avec l’accord du client.
      %br
      Dans le cadre d’une prestation animée par tout intervenant, le lieu de la séance doit être préalablement approuvé par le prestataire qui assure une relation permanente avec l’adhérent. Le Prestataire est le point de contact privilégié du client pour le planning et l’organisation de ses séances.
      %br
      %br
      %strong 6.3
      Toute séance comprend le concours d’un intervenant professionnel expérimenté et qualifié dans sa spécialité au centre d’entraînement ou sur tout autre lieu du rendez-vous en cas de séance à l’extérieur.
      %br
      Les intervenants assurent l’animation des séances conformément aux règles de l’art et y apportent tout le soin, le professionnalisme, la disponibilité et la diligence nécessaire.
      %br
      Les prestations de services n’ont aucune vocation médicale et ne se substituent en aucun cas à un traitement médical.
      %br
      À défaut de réserves ou réclamations expressément émises par l’adhérent lors de la réception des services, ceux-ci seront réputés conformes à la commande, en qualité et en quantité.
      %br
      L’adhérent disposera d’un délai de 14 jours à compter de la fourniture des Services pour émettre des réclamations par courrier avec tous les justificatifs y afférents, auprès du Prestataire.
      %br
      Aucune réclamation ne pourra être valablement acceptée en cas de non respect de ces formalités et délai par l’adhérent.
      %br
      Le Prestataire remboursera ou rectifiera dans les plus brefs délais et à ses frais, les services dont le défaut de conformité aura été dûment prouvé par l’adhérent.
      %br
      %br
      %strong 6.4
      Les adhérents sont tenus de respecter les rendez-vous et les horaires préalablement définis avec la structure. Une fois réservée toute séance entraîne un engagement de l’adhérent. Celle-ci pourra toutefois être annulée ou déplacée à date et heure différente sans frais supplémentaire ni retenue pour toute notification avant le vendredi de la semaine qui précède le rendez-vous.
      %br
      Toute demande de modification ou annulation survenue après le vendredi de la semaine qui précède le rendez-vous entraine la facturation de la globalité de la séance, sauf cas de force majeure Article 8.
      %br
      Dans le cas de force majeure, l’adhérent doit prévenir le prestataire de l’annulation de la séance au plus tard à l’heure prévue de la séance.
      %br
      Tout retard du client sera automatiquement décompté du temps de la séance.
      %br
      En cas de retard de l’intervenant, celui-ci doit rattraper le temps perdu en fin de séance ou sur la séance suivante. En cas d’absence non prévue de l’intervenant la séance sera reportée.
      %br
      Une séance peut être annulée par le prestataire pour diverses raisons justifiées (de force majeure, logistique, météorologique…). En cas d’annulation, les Clients concernés recevront un appel le plus rapidement possible (ou, en l’absence de réponse, un SMS) et la séance sera reportée à une date ultérieure selon leur convenance. Le prestataire ne pourra être tenu responsable pour le retard de l’exécution de la prestation en cas de force majeure.
      %br
      Pour les séances collectives, le prestataire pourra proposer des modifications d’horaires en accord avec l’ensemble du groupe.
      %br
      %br
      %strong 6.5
      En dehors du cadre d’un contrat écrit entre l’adhérent et le prestataire stipulant la privatisation du lieu d’entraînement, les adhérents n’ont aucun droit de privatisation pendant leurs séances.
    %br
    %br
    %h2
      ARTICLE 7 – DROIT DE RÉTRACTATION
    %p
      %strong 7-1
      L’adhérent dispose d’un délai de 15 jours francs pour se rétracter, sans motif, ni frais, à compter de la réception de la facture lui confirmant la validation de sa commande.
      %br
      %br
      Seul le prix du service déjà payé par l’adhérent sera remboursé. Ce remboursement s’effectuera dans les meilleurs délais et au plus tard 14 jours suivant la date de réception par H-TRAINING de la notification du droit de rétractation par l’adhérent.
      %br
      Toutefois, ce droit de rétractation ne peut être exercé si l’adhérent a donné, au moment de sa commande, son accord exprès afin que le service souscrit commence avant l’expiration de ce délai de rétractation de 15 jours et a renoncé expressément à son droit de rétractation.
      %br
      %br
      L’adhérent peut exercer son droit de rétractation par l’envoi de toute autre déclaration dénuée d’ambiguïté et exprimant sa volonté de se rétracter à l’adresse suivante : H-TRAINING 188, rue du Cimetière Bat B Appt 21 17000 LA ROCHELLE. Un courriel pourra également être adressé à
      %br
      H-TRAINING à l’adresse suivante : amandine@h-training.fr. Le remboursement du prix du service déjà payé se fera selon le mode de paiement initial par le Client au moment de sa commande.
      %br
      %br
      %strong 7-2
      Le vendeur est tenu des garanties légales visées au présent article notamment en cas de produits non-conformes (ne correspondant pas en termes de quantité ou de référence à la commande passée), et/ou endommagés à la réception et/ou défectueux. Le Client peut solliciter son remboursement selon le même moyen de paiement que celui utilisé pour la commande ou via un avoir. Le remboursement sera effectif à réception de l’article non-conforme. Dans le cas d’un renvoi de produit, les frais de port restant à la charge du client.
      %br
      Toutefois, le vendeur se laisse le droit de refuser la procédure ci-dessus si ce choix entraîne un coût manifestement disproportionné, compte tenu de la valeur du produit ou de l'importance du défaut.
    %br
    %br
    %h2
      ARTICLE 8 – SUSPENSION – RÉSILIATION - FORCE MAJEURE
    %p
      %strong 8-1
      Sous réserve de l’application des dispositions de l’article 7-1, les services sont à durée déterminée et ne peuvent être résiliés avant leur terme.
      %br
      %br
      %strong 8-2
      L’adhérent dispose de la possibilité de suspendre l’exécution du service souscrit s’il est momentanément empêché pour les raisons listées ci-dessous, sur présentation d’un certificat médical. Dans ce cas, l’adhérent bénéficiera , sans frais supplémentaire, du remboursement du solde du service souscrit :
      %ul
        %li Grossesse dans la limite de 6 mois de report
        %li Arrêt maladie sur présentation d’un arrêt de travail de plus de 2 semaines
      %br
      %br
      %strong 8-3
      L’adhérent pourra résilier le service souscrit, à tout moment, en respectant un préavis de 8 jours, pour motif légitime dûment prouvé l’empêchant définitivement de bénéficier des prestations de services: décès, accident grave, incapacité physique totale ou partielle sur présentation d’un certificat médical, mutation professionnelle définitive sur présentation d’un justificatif. Dans ces cas précis, il sera alors opéré un reversement des sommes perçues par H-TRAINING, déduction faite des prestations déjà consommés par l’adhérent, sur la base des tarifs en vigueur au jour de la souscription du service.
      %br
      %br
      %strong 8-4
      L’adhérent peut résilier, de plein droit et sans qu’une action judiciaire soit requise, le service souscrit en cas de manquement grave par H-TRAINING à ses obligations, 15 jours après l’envoi d’une mise en demeure d’exécuter, signifiée par lettre recommandée avec AR restée sans effet.
      %br
      Cette lettre recommandée avec AR devra être adressée à H-TRAINING dont les coordonnées figurent à l’article 14. L’adhérent pourra alors obtenir le remboursement dans un délai inférieur ou égal à 14 jours suivant la réception par H-TRAINING de sa lettre recommandée avec accusé de réception, des sommes perçues par H-TRAINING, déduction faite des prestations et droits déjà consommés par l’adhérent et à l’exception de toute autre indemnité ou dommages-intérêts.
      %br
      %br
      %strong 8-5
      H-TRAINING se réserve le droit de résilier, de plein droit et sans qu’aucune action judiciaire ne soit requise, tout service souscrit :
      %ul
        %li en cas de manquement grave de l’adhérent à l’une des clauses des Conditions Générales 15 jours après l’envoi à l’adhérent d’une mise en demeure d’exécuter, signifiée par lettre recommandée avec avis de réception, restée sans effet.
        %li en cas de violation par l’adhérent de l’une des dispositions du RÈGLEMENT INTÉRIEUR de H-TRAINING. La notification de cette résiliation intervenant sans préavis sera signifiée au client par lettre recommandée avec demande d’avis de réception.
      %br
      Dans le cas de résiliation visés au présent article, l’adhérent, dès sa cessation effective du service souscrit, sans qu’il soit besoin d’une quelconque demande de H-TRAINING, restera tenu du paiement des sommes contractuellement dues si les prestations avaient pu être exécutées jusqu’à leur terme.
      %br
      %br
      %strong 8-6
      L’arrivée du terme ou la résiliation du service souscrit entraîne immédiatement et de plein droit :
      %ul
        %li la résiliation du «contrat d’adhésion» dans la mesure où sa durée est liée à celle du service souscrit
        %li l’impossibilité d’accéder aux installations sportives dans les locaux H-TRAINING
        %li la perte de son statut d’«adhérent»
      %br
      %br
      %strong 8-7
      Ni l’adhérent ni H-TRAINING ne seront tenus responsables l’un envers l’autre de la non-exécution ou d’un retard dans l’exécution d’une obligation contenue dans les Conditions Générales de Vente, consécutif à la survenance d’un cas de force majeure, tel que reconnu par la jurisprudence des tribunaux français.
      %br
      Le cas de force majeure suspend les obligations nées des Conditions Générale de Vente.
      %br
      Si le cas de force majeure a une durée d’existence inférieure à 30 jours, les prestations non consommées par l’adhérent seront reportées dans le mois en cours ou le mois suivant.
      %br
      Toutefois, si le cas de force majeure a une durée d’existence supérieure à 30 jours, le service souscrit pourra être résilié ou reporté (au choix) par l’adhérent par lettre recommandée avec AR dans un délai de 14 jours. Dans le cas d’une résiliation le remboursement sera opéré déduction faite des prestations et droits déjà consommés par l’adhérent.
    %br
    %br
    %h2
      ARTICLE 9 – ACCÈS AUX INSTALLATIONS DE H-TRAINING
    %p
      L’accès aux services et installation de H-TRAINING est réglementé et suppose le strict respect par l’adhérent du RÈGLEMENT INTÉRIEUR de H-TRAINING tel qu'approuvé lors de la souscription du service ou de sa mise à jour, et en tout état de cause porté à la connaissance de l’adhérent par voie d’affichage dans l’espace H-TRAINING.
      %br
      %br
      L’adhérent s’engage par conséquent à respecter en toute circonstance et à tout moment les consignes de bonne conduite, d’hygiène et de sécurité qui pourraient lui être données par le personnel de H-TRAINING et telles qu’elles pourraient, le cas échéant, être rappelées par voie d’affichage ou sur tout document commercial.
      %br
      %br
      À défaut et sans préjudice des recours que pourrait exercer H-TRAINING en réparation du préjudice subi, H-TRAINING se réserve le droit de prendre toute mesure utile visant à faire respecter par l’adhérent les présentes dispositions et notamment d’exclure des installations l’adhérent en résiliant le service souscrit de plein droit et sans formalité, avec effet immédiat, à réception par l’adhérent de la lettre recommandée avec demande d’avis de réception de H-TRAINING lui exposant les motifs de la résiliation et l’informant, le cas échéant, de son inscription sur la liste «contrevenant» dans le respect des dispositions de la loi n°78-17 du 6 janvier 1978 Informatique et Libertés.
    %br
    %br
    %h2
      ARTICLE 10 – DÉCLARATION ET ASSURANCE
    %p
      La responsabilité civile de H-TRAINING, de ses préposés et des adhérents, est couverte par le contrat MAAF PRO n°117023468 S 001.
      %br
      La responsabilité de H-TRAINING ne pourra être recherchée en cas d’accident résultant de la non-observation des consignes de sécurité ou de l’utilisation inappropriée des appareils par l’adhérent.
      %br
      L’adhérent a la possibilité de souscrire une assurance personnelle complémentaire auprès de la compagnie d’assurance de son choix.
      %br
      En cas d’accident engageant la responsabilité de H-TRAINING, l’adhérent est tenu d’en faire la déclaration dans un délai de 48h à H-TRAINING par lettre recommandée avec demande d’avis de réception.
      %br
      %br
      Tous les intervenants, non salariés de la structure H-TRAINING, sont des professionnels indépendants dont le prestataire n’est pas responsable et doivent également souscrire et présenter une assurance professionnelle.
      %br
      Sauf dispositions légales contraires, le Prestataire ne pourra en aucun cas voir sa responsabilité engagée en cas de préjudice causé par le Client.
      %br
      La responsabilité du Prestataire ne pourra notamment pas être recherchée
      %br
      (I) en cas d’accident résultant de l’inobservation par le Client des consignes de l’intervenant
      %br
      (II) en cas d’accident survenant hors des séances avec les intervenants
      %br
      (III) en cas d’actes ou omissions des intervenants
      %br
      (IV) si le client ne respecte pas ses engagements
      %br
      (V) en cas de force majeure.
      %br
      %br
      Les dommages indirects (tels que, sans que cette liste ne soit limitative, une perte de revenus, un manque à gagner, tout préjudice financier ou tout préjudice immatériel) ne pourront pas faire l’objet d’une indemnisation de la part du prestataire.
      %br
      Le client sera responsable en cas de dégradation occasionnée ou en cas de dommage matériel ou corporel résultant d’un acte volontaire ou involontaire survenant de son fait.
      %br
      Le client s’engage par ailleurs à garantir et prendre en charge l’ensemble des condamnations et des frais de justice qui pourraient être encourus ou mis à la charge du prestataire du fait des fautes, manquements ou autres actes survenant du fait du client.
    %br
    %br
    %h2
      ARTICLE 11 – GARANTIE ET LIMITATION DE RESPONSABILITES
    %p
      H-TRAINING s’efforce d’assurer l’exactitude et la mise à jour des informations diffusées sur le site. H-TRAINING ne peut toutefois garantir l’actualité, l’exactitude et l’exhaustivité de l’ensemble des informations, publicités et autres données présentes sur le site, qu’elles soit fournies par H-TRAINING, par ses partenaires ou par tout tiers ni que les services proposés répondront à toutes les attentes de l’utilisateur.
      %br
      De même, si l’utilisateur contracte avec des annonceurs présents sur le site, H-TRAINING n’assume aucune obligation concernant la délivrance des produits et services proposés par ses partenaires commerciaux.
      %br
      En conséquence, aucune information qu’elle soit orale ou écrite, obtenue par l’utilisateur de H-TRAINING ou lors de l’utilisation du site n’est susceptible de créer des garanties non expressément prévues par les CONDITIONS GÉNÉRALES DE VENTE.
      %br
      H-TRAINING fera également ses meilleurs efforts pour permettre l’accès, la consultation, l’utilisation du site conformément aux règles d’usage de l’Internet. Toutefois, H-TRAINING ne peut garantir que le site sera exempt d’anomalies, de virus, d’erreurs ou de bugs, ni que ceux-ci pourront être corrigés, ni que le site fonctionnera sans interruption ou panne, ni encore qu’il sera compatible avec tout matériel informatique ou configuration particulière.
      %br
      Le site est accessible 24h sur 24, 7 jours sur 7, sauf en cas de force majeure ou de survenance d’un événement hors de contrôle de H-TRAINING et sous réserve des éventuelles pannes et d’interventions de maintenance nécessaires au bon fonctionnement du site.
      %br
      Les interventions de maintenance pourront être effectuées sans que les utilisateurs aient été préalablement avertis.
      %br
      L’utilisateur déclare accepter les caractéristiques et les limites de l’internet, et en particulier ses performances techniques, les temps de réponse pour consulter, interroger ou transférer des données et les risques liés à la sécurité des communications.
      %br
      À cet égard, l’utilisateur reconnaît que :
      %ul
        %li son utilisation du site se fait à ses risques et périls, le site lui est accessible «en l’état»et en fonction de sa disponibilité,
        %li tout matériel téléchargé par l’utilisateur ou obtenu de toute autre manière lors de l’utilisation du site, l’est à ses risques et périls,
        %li l’utilisateur est seul responsable pour tout dommage subi par ses terminaux ou toute perte de données consécutifs au téléchargement ou à la consultation du site,
        %li il lui appartient donc de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d'éventuels virus circulant à travers le site,
        %li la communication de toute information jugée confidentielle est faite sous sa propre responsabilité,
        %li il appartient à l’utilisateur de prendre toutes mesures nécessaires pour s’assurer que les caractéristiques techniques de son équipement lui permettent la consultation du site.
      %br
      En conséquence et dans les limites par la loi, H-TRAINING ne pourra être tenu responsable de tout type de dommage prévisible ou imprévisible, matériel ou immatériel (incluant la perte de profit ou d’opportunité …) subi par l’utilisateur et découlant de l’utilisation ou de l’impossibilité totale ou partielle du site et les services souscrits.
    %br
    %br
    %h2
      ARTICLE 12 - PROTECTION DES DONNÉES PERSONNELLES - DROIT À L’IMAGE
    %p
      %strong 12-1
      L’utilisateur peut visiter le site sans communiquer son identité. Cependant, la communication d’informations personnelles est nécessaire si l’utilisateur souhaite correspondre avec H-TRAINING ou souscrire à un service ou acheter un produit. H-TRAINING ne collecte aucune information concernant l’utilisateur à son insu et sans son accord.
      %br
      H-TRAINING s’efforce de protéger la vie privée des utilisateurs en respectant la réglementation en vigueur à cet égard. Ainsi, la collecte et le traitement des données personnelles des utilisateurs ont été déclarés auprès de la CNIL.
      %br
      Les informations et données concernant les utilisateurs sont nécessaires à la gestion des services souscrits et aux relations commerciales avec H-TRAINING. Les données identifiées par un astérisque sur le formulaire d’inscription en ligne sont indispensables au traitement de la commande de services passée sur le site par les utilisateurs. En leur absence, H-TRAINING n’est pas en mesure d’assurer l’enregistrement du service commandé et/de gérer le suivi de celui-ci ni de traiter les messages et demandes d’information de l’utilisateur.
      %br
      Chaque membre de l’équipe H-TRAINING (salariés et prestataires externes contractualisés avec la structure):
      %ul
        %li dispose de droits différents de consultation, alimentation, modification des dossiers des adhérents, selon la fonction et les exigences du métier
        %li s’engage contractuellement à une obligation de confidentialité. Chaque salarié et prestataire externe contractualisé avec la structure est tenu au secret professionnel à l’égard des tiers et s’engage formellement à considérer comme confidentielles les informations personnelles relatives aux adhérents, tant pendant toute la durée de leur contrat d’adhésion, qu’après leur cessation, pour quelque cause que ce soit, et en conséquence, à ne pas les divulguer à quiconque, ou en faire profiter qui que ce soit ni à en faire un usage susceptible de contrevenir aux intérêts de l’adhérent et de H-TRAINING.
      %br
      Les informations et données sont également conservés à des fins de sécurité, afin de respecter les obligations légales et réglementaires, ainsi que pour permettre à H-TRAINING d’améliorer et de personnaliser les services qu’elle propose.
      %br
      Conformément à la loi informatique et libertés n°78-17 du 6 janvier 1978, l’utilisateur dispose d’un droit d’accès, de rectification et de suppression des données personnelles le concernant. L’utilisateur peut à tout moment, demander à exercer ce droit:
      %ul
        %li soit en adressant un courriel à l’adresse électronique amandine@h-training.fr
        %li soit en écrivant à l’adresse suivante: H-TRAINING 188, avenue du Cimetière Bât B Apt 21 17000 LA ROCHELLE.
      %br
      L’utilisateur dispose également d’un droit d’opposition au traitement de ses données pour des motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale.
      %br
      L’adhérent sera susceptible de recevoir des mails de H-TRAINING. Si l’adhérent ne le souhaite plus, il pourra à tout moment se désinscrire du mailing en bas de page de l’email.
      %br
      %br
      Les cookies désignent des petits fichiers d’informations qu’un site Web peut envoyer sur le disque dur d’un ordinateur personnel pour ensuite en retrouver la trace.
      %br
      Sur le site, les cookies sont utilisés pour:
      %ul
        %li identifier les services et rubriques que le client a visités, et plus généralement son comportement en matières de visites
        %li établir des statistiques de fréquentation du site dont le décompte du nombre de visiteurs qui le consultent (ces résultats sont uniquement utilisés sous forme collective et ne permettent pas de remonter aux utilisateurs)
        %li personnaliser les services, contenus, offre promotionnelles et bannières qui apparaissent sur le site
        %li conserver active la session de l’utilisateur pendant sa connexion
        %li permettre le bon fonctionnement de certains services.
      %br
      Outre l’information préalable de l’utilisateur sur l’insertion des cookies, son consentement peut être requis dans certains cas au moyen d’une bannière sur la page d’accueil du site avec une case à cocher. Ils sont aussi visibles sur
      = link_to("https://www.cookieserve.com/", title: "cookieserve", target: "_blank") do
        https://www.cookieserve.com/.
      %br
      %br
      %strong 12-2
      Par l’acceptation des présentes Conditions Générales de Vente, le client accepte que son image, ou celle de ses membres actifs dans le cadre d’une société ou d’une association, soit utilisée par le prestataire à des fins promotionnelles ou commerciales sans redevance ni rétribution. Il sera permis au prestataire de conserver les supports papiers ou tout autre support contenant lesdites images après la résiliation du présent contrat ou de ses renouvellements, quelle qu’en soit la cause sans ouvrir droit à une quelconque indemnité.
      %br
      En conséquence de quoi et conformément aux dispositions relatives au droit à l’image, le prestataire s’autorise à fixer, reproduire et communiquer au public les photographies prises dans le cadre de la présente. Les photographies pourront être exploitées et utilisées directement sous toute forme et tous supports connus et inconnus à ce jour, dans le monde entier, sans limitation de durée, intégralement ou par extraits.
      %br
      Le prestataire s’interdit expressément de procéder à une exploitation des photographies susceptible de porter atteinte à la vie privée ou à la réputation, et d’utiliser les photographies de la présente, dans tout support à caractère pornographique, raciste, xénophobe ou toute autre exploitation préjudiciable.
      %br
      Le client peut refuser les conditions précisées ci-dessus:
      %ul
        %li si il est lié par un contrat exclusif relatif à l’utilisation de son image ou de son nom avec un tiers
        %li si il est le représentant légal d’un mineur pour qui il souscrit un contrat d’adhésion et qu’il ne consent pas à l’utilisation des photographies ou des images pour ce dernier
    %br
    %br
    %h2
      ARTICLE 14 – SERVICE CLIENTS
    %p
      Il tient à cœur au prestataire de satisfaire ses clients, c’est pourquoi le prestataire s’efforce de répondre dans les plus brefs délais après réception d’une demande d’informations, d’une réclamation ou d’une contestation.
      %br
      Pour toute demande d’informations et de précisions relatives notamment à l’achat, au remboursement, ou au, au fonctionnement des activités, l’adhérent pourra contacter le Service Clients du lundi au vendredi de 9h à 18h.
      %br
      Mail : contact@h-training.fr
      %br
      Adresse postale : H-TRAINING 188, avenue du Cimetière Bât B Apt 21 17000 LA ROCHELLE
    %br
    %br
    %h2
      ARTICLE 15 – DROIT APPLICABLE-MÉDIATION-LITIGE
    %p
      Les Conditions Générales ont été rédigées en langue française qui sera considérée, en toute hypothèse, comme la langue unique des parties.
      %br
      L’interprétation et l’exécution des Conditions Générales , ainsi que tous les actes qui en seraient la suite ou la conséquence, seront soumis au droit français et ce, quels que soient, le lieu de passation de commande des services souscrits, la nationalité de l’utilisateur et son adresse.
      %br
      En cas de litige, une solution amiable sera recherchée prioritairement à toute action judiciaire.
      %br
      L’utilisateur est prié à cette fin de bien vouloir contacter le service clients dont les coordonnées sont rappelées à l’article 14 en indiquant ses nom, prénom, adresse, email.
      %br
      La médiation a vocation à rechercher et proposer une solution amiable et personnalisée aux conflits entre les utilisateurs et H-TRAINING , alternatives aux recours judiciaires longs et coûteux. Le médiateur n’est ni un juge ni un arbitre; il s’agit d’un tiers neutre, impartial et indépendant de H-TRAINING.
      %br
      Cette procédure de médiation ne pourra être déclenchée que si le service clients n’a pas répondu de manière satisfaisante à la requête de l’utilisateur.
      %br
      En cas d’échec de la médiation, tout litige résultant des Conditions Générales et/ou de toute souscription de service qui sera adressé à H-TRAINING et/ou de toute vente réalisée par H-TRAINING sera soumis à la compétence exclusive des juridictions françaises, même en cas d’appel de garantie ou de pluralité de défendeurs ou de demande incidente.
