- content_for :title do
  Contact | Entrer en contact avec H-training
- content_for :meta do
  %meta{:content => "Entrer en contact avec H-training", :name => "description"}/
  %meta{:content => "contact", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper5
  .container
    %section
      %h1.text-center.text-uppercase
        Contact
        %span .
      %h4.text-center
        En construction
