- content_for :title do
  Espace perso | Préparation Physique
- content_for :meta do
  %meta{:content => "Accédez à vos données personnelles à tout moment : suivi de la performance, données quantitatives, objectifs, feedbacks video, chat...", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper5
  .container
    %section
      %h1.text-center.text-uppercase
        Espace perso
        %span .
      %h4.text-center
        En construction
