- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/


.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        MEDIA
        %span .

.wrapper
  .container
    %h2.text-left.text-uppercase.title-section
      Photothèque
    .container
      #centre
      %h2.text-left.text-uppercase
        Centre d'entrainement
      %br
      #coeur1
      %h2.text-left.text-uppercase
        Au cœur de l'action
      %br
      #delocalisation
      %h2.text-left.text-uppercase
        Délocalisation

.wrapper
  .container
    %h2.text-left.text-uppercase.title-section
      Videothèque
    .container
      #interviews
      %h2.text-left.text-uppercase
        Interviews
      %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/jqDPnCAWUiM", :width => "100%"}
          %h3 Interview : Pernelle Michon
          %h4 Voile, Laser Radial, Pôle France, La Rochelle
          %i 17.02.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/Oz1ZF1ug02g", :width => "100%"}
          %h3 Interview : Ximun Mathis
          %h4 Pelote Basque, La Rochelle, Division ?
          %i 08.03.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/dLAdKL0pujA", :width => "100%"}
          %h3 Interview : Maxime Mazard
          %h4 Voile, Laser Standard, Pôle France, La Rochelle
          %i 17.02.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/rsXlUh6fxWg", :width => "100%"}
          %h3 Interview : Pernelle Michon
          %h4 Voile, Laser Radial, Pôle France, La Rochelle
          %i 04.02.2019
          %br
          %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/BeijGYgNyjI", :width => "100%"}
          %h3 Interview : Forrest Henry
          %h4 Baseball, Les Boucaniers, La Rochelle, Division 1
          %i 17.01.2019
          %br
          %br
      %br
      #coeur2
      %h2.text-left.text-uppercase
        Au cœur de l'action
      %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/ls1RZJvTkuo", :width => "100%"}
          %h3 Travail spécifique Appuis / Explosivité (Tennis)
          %h4 Echéance sportive Semaine-3 : activation neuro-musculaire des groupes musculaires concernés, réactivité au sol
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/cd28EfJrdc0", :width => "100%"}
          %h3 Trêve hivernale pour le RCP
          %h4 H-TRAINING, au service des clubs
