- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        Partenaires
        %span .
      %h2.text-left.title-section
        Liste de nos Partenaires
      .text-center
        = image_tag("1.png", :alt => "Partenaire 1")
        = image_tag("2.png", :alt => "Partenaire 2")
        = image_tag("3.png", :alt => "Partenaire 3")
        = image_tag("4.png", :alt => "Partenaire 4")
