- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-partenaires
  .container
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Partenaires
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Entreprises et Particuliers pouront très prochainement s'investir pleinement à la réussite de nos projets sportifs.
        %br
        Devenez membres exclusifs en parrainant un projet !

.wrapper
  .container

.wrapper
  .container
    %h2.text-left.title-section
      Liste de nos Partenaires
    .text-center
      = image_tag("1.png", :alt => "Partenaire 1")
