- content_for :title do
  Réservation en ligne | Préparation Physique
- content_for :meta do
  %meta{:content => "Un service de reservation en ligne pour planifier vos séances d’entrainement chaque semaine en fonction de vos disponibilités", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper5
  .container
    %section
      %h1.text-center.text-uppercase
        Réservation
        %span .
      %h4.text-center
        En construction
