/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html {
  height: 100% !important;
}

/* line 16, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
body {
  font-family: "Arial", sans-serif !important;
  color: #ffffff !important;
  position: relative !important;
  min-height: 100% !important;
  font-size: 14px;
}

/* line 23, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-transparent {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  min-height: 78px !important;
}

/* line 27, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-default {
  background: none;
  border: none;
}
/* line 30, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-default .navbar-nav li a {
  color: #ffffff;
  padding: 14px 15px 17px;
  text-shadow: none !important;
}

.navbar {
  font-size: 18px;
}

/* line 32, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-brand {
  text-decoration: none !important;
}
/* line 34, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-brand .brand {
  margin-top: -35px !important;
}

/* line 36, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center, .navbar-right {
  padding-top: 14px;
}
/* line 38, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center li a, .navbar-right li a {
  text-decoration: none !important;
  cursor: pointer;
}
/* line 41, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center li a:hover, .navbar-right li a:hover {
  color: #cc2127 !important;
}
/* line 43, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center li a:active, .navbar-right li a:active {
  color: #cc2127 !important;
}
/* line 45, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center li a.active, .navbar-right li a.active {
  color: #cc2127 !important;
}

/* line 47, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-center {
  margin-left: 95px;
}

/* line 50, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-right li {
  padding: 0 10px;
}

/* line 52, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-header {
  min-height: 78px !important;
}

/* line 54, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.navbar-toggle {
  margin-top: 18px;
}

/* line 57, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
h1 {
  font-family: "Open Sans Condensed", sans-serif !important;
  font-weight: 700 !important;
}

/* line 60, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
h2 {
  font-family: "Open Sans Condensed", sans-serif !important;
  font-weight: 700 !important;
}

/* line 63, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
h3 {
  font-family: "Open Sans Condensed", sans-serif !important;
  font-weight: 700 !important;
}

/* line 66, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
h4 {
  font-family: "Open Sans Condensed", sans-serif !important;
  font-weight: 700 !important;
}

/* line 70, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.vcenter {
  display: flex;
  align-items: center;
}

/* line 74, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
textarea:focus {
  border-color: #fff !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 81, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  border-color: #fff !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 87, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.uneditable-input:focus {
  border-color: #fff !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 93, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home {
  background: #222222;
  padding-bottom: 100px;
}
/* line 96, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section {
  margin-top: 10%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
/* line 101, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section span {
  color: #cc2127;
}
/* line 103, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section h1 span {
  color: #cc2127;
}
/* line 105, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section .btn-contact {
  background: #cc2127 !important;
  color: #fff;
  border: none;
  padding: 5.5px 12px !important;
}
/* line 110, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section .btn-contact:hover {
  background: #fff !important;
  color: #222222;
}
/* line 114, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section input[type="email"] {
  padding: 8px 0 12px 10px !important;
  background-color: transparent;
  color: #fff !important;
  display: inline-block;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #cc2127;
}
/* line 122, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section .form-control {
  height: 36px !important;
}
/* line 125, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section input::-webkit-input-placeholder {
  color: #fff;
}
/* line 127, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section input:-moz-placeholder {
  color: #fff;
}
/* line 129, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section input::-moz-placeholder {
  color: #fff;
}
/* line 131, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.wrapper-home section input:-ms-input-placeholder {
  color: #fff;
}

/* button scroll top */
/* line 383, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.btn-scroll-top {
  padding: 14px 10px 12px 10px;
  position: fixed;
  bottom: -62px;
  right: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px #dde0e5;
  border-radius: 2px 2px 0 0;
}
/* line 395, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
.btn-scroll-top i {
  color: #dde0e5 !important;
}

footer {
  color: #222222 !important;
  background-color: #fff !important;
  padding: 10px 0 !important;
  font-size: 15px;
}

footer a {
  color: #222222 !important;
  font-weight: 100 !important;
  cursor: pointer;
}

footer a:hover {
  color: #cc2127 !important;
  text-decoration: none;
}

@media (min-width: 768px) {
  /* line 482, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .display-screen {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 486, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .display-mobile {
    display: none !important;
  }

  /* line 488, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar {
    margin-bottom: 0px;
  }

  /* line 490, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-fixed-top {
    position: inherit;
  }

  /* line 492, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-right {
    margin-left: 0px;
  }
  /* line 494, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-right li {
    text-align: center;
  }
  /* line 496, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-right li a {
    color: #222222 !important;
  }

  /* line 498, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar .nav li a {
    padding: 5px 15px 17px !important;
  }

  /* line 500, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-toggle .fa-bars {
    color: #222222;
  }

  /* line 502, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-center {
    margin-left: 0px;
  }
  /* line 504, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-center li {
    text-align: center;
  }
  /* line 506, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .navbar-center li a {
    color: #222222 !important;
  }

  /* line 508, /Users/benty/rails_project/h-training/app/assets/stylesheets/application.css.sass */
  .wrapper-home section {
    margin-top: 25%;
    width: 90%;
  }
}
