/*
 *= require_self
 *= require flat-ui
 *= require jquery-ui
 *= require ladda-themeless
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

html
  height: 100% !important
body
  color: #666666 !important
  position: relative !important
  min-height: 100% !important
  font-size: 16px !important
  overflow-x: hidden
  font-weight: 300 !important

#fb-root .fb_dialog
  z-index: 10 !important
#log
  height: 120px
.navbar
  font-family: 'Roboto', sans-serif !important
  font-weight: 500 !important
  min-height: 78px !important
  background: #fff
  border: none
  .navbar-nav li.dropdown
    position: initial !important
  .navbar-nav li a
    color: #000
  .navbar-collapse
    border-top: 2px solid #777777
    margin-top: -75px
    margin-bottom: 15px
    #nav-space
      width: 132px
  .nav ul a
    padding: 0px !important
    font-weight: 300 !important
.navbar-brand
  text-decoration: none !important
  margin: 0 auto !important
  float: none
  padding: 0
  img
    margin: 0 auto
    background-color: #fff
    position: relative
    z-index: 0
.navbar-nav
  padding-top: 14px
  li a
    text-decoration: none !important
    text-transform: uppercase !important
    cursor: pointer
    &:hover
      color: #cc2127 !important
    &:active
      color: #cc2127 !important
  li a.active
    color: #cc2127 !important
.navbar-right
  margin-right: 0px !important
.navbar-header
  min-height: 78px !important
  float: none !important
.navbar-toggle
  margin-top: 18px
.dropdown:hover .dropdown-menu
  display: block
  width: 100%
  margin-top: -1px
  border: none
  box-shadow: none
  border-radius: 0
  color: #000 !important
  top: 81% !important
  padding: 20px 0
  background: #eee
  .wrapper-dropdown
    width: 70%
    span
      font-size: 16px
      padding: 10px 0
      font-weight: 700
      color: #cc2127 !important
      &:after
        display: block
        content: ''
        width: 4px
        height: 15px
        background: #cc2127
        position: absolute
        top: 2px
        left: 8px
        transition: .1s
        z-index: 2
    ul
      opacity: 1
      position: relative
      width: 100%
      padding: 0
      border-radius: 0
      left: -12px
      z-index: 1
      margin-top: 10px
      margin-left: 10px
      li.dropdown-item
        background-color: #eee
        padding: 3px
        a
          color: #000
          &:hover
            background-color: #eee
.bandeau
  position: fixed
  left: 0
  top: 126px
  background: #cc2127
  color: #fff
  display: block
  width: 100%
  z-index: 1000
  padding: 5px
h1
  font-family: 'Lato', sans-serif !important
  font-weight: 700 !important
  color: #222
h2
  font-family: 'Lato', sans-serif !important
  font-weight: 700 !important
  color: #222
h3
  font-family: 'Lato', sans-serif !important
  font-weight: 700 !important
  color: #222
h4
  font-family: 'Lato', sans-serif !important
  font-weight: 500 !important
  color: #222
h5
  font-family: 'Lato', sans-serif !important
  font-weight: 500 !important
  color: #222

select:focus
  outline: none

.title-section:after
  display: block
  content: ''
  width: 70px
  height: 2px
  background: #cc2127
  transition: .1s
  margin-top: 5px

.title-sponsors
  position: relative
  background: #fff
  width: fit-content
  z-index: 9

.title-sponsors-right
  position: relative
  background: #fff
  width: fit-content
  z-index: 9
  float: right
  padding-right: 15px

.arrow-right
  display: inline-block
  width: 0
  height: 0
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-left: 12px solid #cc2127

.arrow-left
  display: inline-block
  width: 0
  height: 0
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-right: 12px solid #cc2127

.arrow-line
  display: inline-block
  height: 3px
  width: 100%
  background-color: #cc2127
  position: absolute
  z-index: 1
  margin-top: -15px

.arrow-line-right
  display: inline-block
  height: 3px
  width: 100%
  background-color: #cc2127
  position: absolute
  z-index: 1
  margin-top: 35px

.vcenter
  display: flex
  align-items: center

textarea:focus
  border-color: #fff !important
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.marge_t10
  margin-top: 10px
.marge_t45
  margin-top: 45px
.marge_b30
  margin-bottom: 30px
.blue
  color: #4182c8
.red
  color: #cc2127
.green
  color: green
.blank
  color: #fff
.grey
  color: #ccc
.gold
  color: #FFD700
.back-grey
  background-color: #ccc

input
  &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus
    border: 2px solid #dce4ec
    border-color: #cc2127 !important
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

.uneditable-input:focus
  border-color: #fff !important
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.image-training
  background-image: image-url("training-preparation-athlete.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-notre-mission
  background-image: image-url("notre-mission.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-nos-services
  background-image: image-url("nos-services.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-effectif
  background-image: image-url("effectif.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-partenaires
  background-image: image-url("partenaires.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-medias
  background-image: image-url("medias.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.image-boutique
  background-image: image-url("boutique.jpg")
  background-attachment: fixed
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%

.wrapper
  padding-bottom: 60px
  section
    margin-top: 15%
    margin-left: auto
    margin-right: auto
    span
      color: #cc2127
    h1 span
      color: #cc2127
#button-newsletter
  background: #cc2127 !important
  color: #fff !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #fff
  border-radius: 7px
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
span.btn-contact
  background: #cc2127 !important
  color: #fff !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #fff
  border-radius: 7px
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
span.btn-contact-1
  background: #cc2127 !important
  color: #fff !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #eee
  border-radius: 7px
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
span.btn-contact-2
  background: #cc2127 !important
  color: #fff !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #b2b2b2
  border-radius: 7px
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
span.btn-service
  background: #fff !important
  color: #000 !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #eee
  border-radius: 7px
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
span.btn-faq
  background: #fff !important
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important
  cursor: pointer
  padding: 6px 12px!important
  border: 3px solid #fff
  border-radius: 7px
  color: #000 !important
  &:hover
    border: 3px solid #cc2127
    -webkit-transition: all 100ms ease
.active
  span.btn-faq
    border: 3px solid #cc2127

.wrapper1
  background: #fff
  padding-bottom: 60px
.hr-red
  width: 10%
  color: #cc2127
  border: 1px solid
.black
  color: #000
.white
  color: #fff
.padding-10
  padding: 10px 0
.hr-grey
  width: 30%
  color: #eee
  border: 1px solid

.bloc-temoignage
  background: #282f39
  box-shadow: 20px 20px #9aa7b2
  margin: 120px 0 60px
  .image-temoignage img
    width: 50%
    margin-top: -25%
  section
    margin-top: 0px
    display: block
    padding: 20px 10px 10px 10px
    h3
      color: #fff
    h4
      color: #959698
    p
      color: #fff
      padding: 8px
      min-height: 100px

.partenaire-social
  ul
    li
      margin: 0 5px
      a
        color: #777777 !important
        font-weight: 100 !important
        cursor: pointer
        &:hover
          color: #cc2127 !important
          background-color: #fff !important
        &:active
          color: #cc2127 !important
          background-color: #fff !important
  .col-md-1
    padding: 40px 0 0 40px
    #barre
      border-right: 2px solid #000
      display: inline-block
      height: 140px


.video-card
  margin-bottom: 5px
  &:hover
    h3
      color: #cc2127
  .album
    position: absolute
    width: 100%
    height: auto
    bottom: 0px
    left: 0px
    background: rgba(255,255,255,0.7)
    padding: 10px
    z-index: 5
    min-height: 76px
    p
      text-align: justify
.image-card
  .video-text
    opacity: 0.5
  &:hover
    .video-text
      opacity: 1
.image-card
  cursor: pointer
  &:hover
    h3
      color: #cc2127
  .video-text
    margin-top: -5px
    padding: 10px
    .descriptif
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
#gallery_centre, #gallery_coeur, #gallery_deloc
  padding: 0 20px
  .thumbnail
    border: none !important
.carousel-control.left
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%)
.carousel-control.right
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%)
.img-responsive
  margin: auto
.carousel-selector
  margin: 10px 0
  .img-responsive
    display: inline-block
    cursor: pointer
  img
    vertical-align: inherit !important
  .col-sm-1
    padding: 1px
.img-pointer
  cursor: pointer
.gallery-image-s, .gallery-image-h, .gallery-image-f, .gallery-image-sw, .gallery-image-l, .gallery-image-c
  margin: 10px 0
  .col-xs-8
    padding-left: 0 !important
    padding-right: 30px !important
span.btn.fb-share-button
  background: #1877F2 !important
  cursor: pointer
  padding: 6px 12px!important
  border-radius: 7px
  .fa-facebook-square
    background: #1877F2 !important
    color: #fff
  a
    color: #fff !important
    text-decoration: none !important

span.prix
  font-size: 20px
  font-weight: 700
  margin-top: 4px
  margin-bottom: 10px
  color: #777777

.form-horizontal
  .form-group
    margin-right: 0px
    margin-left: 0px


.form-inputs
  .barre
    .col-md-6
      padding: 0 15px
    .col-md-4
      padding: 0 15px
    #plus, #minus
      width: 28px !important
      margin: 0px 0px !important
      border: 2px solid #dce4ec
      color: #34495e
      border-radius: 6px
      height: 35px !important
      padding-bottom: 5px !important
      background: #dce4ec
    .form_boutique_quantity
      width: 38px
      margin-bottom: 0px
    select
      border: 2px solid #dce4ec
      color: #34495e
      border-radius: 6px
    input#cgv,input#address,input#pickup
      width: auto
      label
        display: inline !important
    .empty
      border-color: #cc2127 !important
    .empty-box
      outline: 3px solid #cc2127 !important
  .display-address
    display: none

footer
  color: #777777 !important
  background-color: #fff !important
  padding: 30px 0 10px !important
  .text-center
    position: relative
  #log
    position: relative
    background: #fff
    z-index: 2
  .barre
    display: block
    width: 100%
    height: 2px
    background: #777777
    position: absolute
    bottom: 165px
    transition: .1s
    z-index: 1
  ul.nav.navbar-nav
    margin: 0 auto
    float: none
    li.nav-item
      float: none
      display: inline-block
  a
    color: #777777 !important
    font-weight: 100 !important
    cursor: pointer
    &:hover
      color: #cc2127 !important
      background-color: #fff !important
    &:active
      color: #cc2127 !important
      background-color: #fff !important

.popup-footer
  position: fixed
  z-index: 99999
  bottom: 100px
  left: 20px
  height: 345px
  -webkit-animation: expand 0.7s
  text-align: center
  background-color: #ffffff
  border: solid 1px #dde0e5
  border-radius: 18px
  .popup-footer-body
    padding: 0 10px
    .form-inputs
      padding: 20px
      a
        color: #cc2127 !important
        font-weight: 100 !important
        cursor: pointer
        &:hover
          color: #cc2127 !important
          background-color: #fff !important
        &:active
          color: #cc2127 !important
          background-color: #fff !important
    .btn
      margin-top: 10px
  button.close
    right: 8px
    top: 5px
    position: absolute
  i
    font-size: 12px
  h5
    margin-bottom: 0px !important


@-webkit-keyframes expand
  0%
    transform: scale(1)

  50%
    transform: scale(1.4)

  60%
    transform: scale(1.1)

  70%
    transform: scale(1.2)

  80%
    transform: scale(1)

  90%
    transform: scale(1.1)

  100%
    transform: scale(1)

@-webkit-keyframes restrict
  0%
    transform: scale(1)

  50%
    transform: scale(0.7)

  60%
    transform: scale(1)

  70%
    transform: scale(0.8)

  80%
    transform: scale(1)

  90%
    transform: scale(0.9)

  100%
    transform: scale(1)

.social-btn
  position: fixed
  z-index: 99999
  bottom: 0px
  right: 0px
  height: 60px
  text-align: center
  cursor: pointer
  background-color: #ffffff
  border: solid 1px #dde0e5
  border-radius: 2px 2px 0 0
  .navbar-nav
    padding-top: 0
  ul.nav.navbar-nav
    margin: 0 auto
    float: none
    li.nav-item
      float: none
      display: inline-block
  a
    color: #777777 !important
    font-weight: 100 !important
    cursor: pointer
    &:hover
      color: #cc2127 !important
      background-color: #fff !important
    &:active
      color: #cc2127 !important
      background-color: #fff !important

.row.sponsors
  margin-right: 0
  margin-left: 0
  margin-top: 30px
  .col-md-4
    padding-right: 0
    padding-left: 0
    .thumbnail
      padding: 0
      border: none
  .logo-sponsors
    display: block
    position: relative
    img
      position: absolute
      top: -40px
      right: -15px
      z-index: 2
      width: 9%

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

.modal-title
  display: inline
.modal-body
    position: relative
    padding: 35px
.modal-backdrop
  opacity: 0.8 !important
.bs-example-modal-lg
  .modal-header
    padding: 15px 15px 0 15px !important
    border-bottom: none
    .close
      text-shadow: none !important
      filter: alpha(opacity=100) !important
      opacity: 1 !important
      &:hover
        opacity: 0.5 !important
    margin-bottom: 8px !important
  .modal-content
    background: transparent !important
    -webkit-box-shadow: none
    box-shadow: none
    border: none
  .modal-body
    padding: 0px

#service-rejoindre-collectif
  background-image: image-url("Service_rejoinsuncollectif.png")
  background-position: center top
  background-repeat: no-repeat
  width: 100%
  height: 365px

#service-suivi-analyse
  background-image: image-url("service-suivi-analyse.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 170px

#service-soins-et-recuperation
  background-image: image-url("service-soins-et-recuperation.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 170px

#service-gym
  background-image: image-url("gym-douce-yoga-pilates-stretching.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 170px

#service-nutritionnel
  background-image: image-url("suivi-nutritionnel.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 170px

.animation-element
  opacity: 0
  position: relative

  &.slide-left
    opacity: 0
    -moz-transition: all 500ms linear
    -webkit-transition: all 500ms linear
    -o-transition: all 500ms linear
    transition: all 500ms linear
    -moz-transform: translate3d(-200px, 0px, 0px)
    -webkit-transform: translate3d(-200px, 0px, 0px)
    -o-transform: translate(-200px, 0px)
    -ms-transform: translate(-200px, 0px)
    transform: translate3d(-200px, 0px, 0px)

    &.in-view
      opacity: 1
      -moz-transform: translate3d(0px, 0px, 0px)
      -webkit-transform: translate3d(0px, 0px, 0px)
      -o-transform: translate(0px, 0px)
      -ms-transform: translate(0px, 0px)
      transform: translate3d(0px, 0px, 0px)

    &.service
      width: 90%
      margin: 0px 0px 20px 0px
      background: #eee
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25)
      float: left

      &:nth-of-type(odd), &:nth-of-type(even)
        width: 90%
        margin: 0px 0px 20px 0px

      .header
        float: left
        margin-bottom: 10px
        position: absolute
        width: 100%
        top: -15px
        .left
          float: left
          background-color: #cc2127
          width: 50%
          h2
            padding-left: 60px
            padding-bottom: 10px

        .right
          float: left
          width: 0
          height: 0
          border-style: solid
          border-width: 60px 100px 0 0
          border-color: #cc2127 transparent transparent transparent

      .content
        padding: 30px 30px 10px 60px
        float: left
        width: 100%
        margin-bottom: 10px
        .form-group
          margin-bottom: 5px !important
        .form-inputs
          a
            color: #cc2127 !important
            font-weight: 100 !important
            cursor: pointer
            &:hover
              color: #cc2127 !important
              background-color: #fff !important
            &:active
              color: #cc2127 !important
              background-color: #fff !important
        table
          margin: 40px auto 0px
          thead
            tr
              th
                padding: 15px
              td
                padding: 15px
          tbody
            tr
              th
                padding: 15px 30px 15px 0
              .border
                border-top: 2px solid #cc2127
                border-bottom: 2px solid #cc2127
              td
                padding: 20px 0
                .back-left
                  border-top-left-radius: 30px
                  border-bottom-left-radius: 30px
                  background: azure
                  padding: 5px
                .back-center
                  background: azure
                  padding: 5px
                .back-right
                  border-top-right-radius: 30px
                  border-bottom-right-radius: 30px
                  background: azure
                  padding: 5px


  &.slide-right
    opacity: 0
    -moz-transition: all 500ms linear
    -webkit-transition: all 500ms linear
    -o-transition: all 500ms linear
    transition: all 500ms linear
    -moz-transform: translate3d(200px, 0px, 0px)
    -webkit-transform: translate3d(200px, 0px, 0px)
    -o-transform: translate(200px, 0px)
    -ms-transform: translate(200px, 0px)
    transform: translate3d(200px, 0px, 0px)

    &.in-view
      opacity: 1
      -moz-transform: translate3d(0px, 0px, 0px)
      -webkit-transform: translate3d(0px, 0px, 0px)
      -o-transform: translate(0px, 0px)
      -ms-transform: translate(0px, 0px)
      transform: translate3d(0px, 0px, 0px)

    &.service
      float: right
      width: 90%
      margin: 0px 0px 20px 0px
      background: #eee

      &:hover, &:active
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25)

      &:nth-of-type(odd), &:nth-of-type(even)
        width: 90%
        margin: 0px 0px 20px 0px

      .header
        float: right
        margin-bottom: 10px
        position: absolute
        width: 100%
        top: -15px
        .right
          float: right
          background-color: #cc2127
          width: 60%
          h2
            padding-right: 60px
            padding-bottom: 10px
        .left
          float: right
          width: 0
          height: 0
          border-style: solid
          border-width: 0 100px 60px 0
          border-color: transparent #cc2127  transparent transparent

      .content
        padding: 30px 30px 10px 60px
        float: right
        width: 100%
        margin-bottom: 10px

h5#MyPopupLabel
  font-weight: 700

.cgv
  p
    text-align: justify !important

/*media queries for small devices
@media screen and (max-width: 678px)
  /*services
  .animation-element.slide-right.service
    width: 100%
    margin: 0px 0px 20px 0px
    -moz-transform: translate3d(0px, 0px, 0px)
    -webkit-transform: translate3d(0px, 0px, 0px)
    -o-transform: translate(0px, 0px)
    -ms-transform: translate(0px, 0px)
    transform: translate3d(0px, 0px, 0px)

    &:nth-of-type(odd), &:nth-of-type(even)
      width: 100%
      margin: 0px 0px 20px 0px

    .right h2
      padding-left: 0px !important
      padding-right: 15px !important

    .content
      padding: 30px 10px 10px 10px
      text-align: center
      float: none
  .animation-element.slide-left.service
    width: 100%
    margin: 0px 0px 20px 0px

    &:nth-of-type(odd), &:nth-of-type(even)
      width: 100%
      margin: 0px 0px 20px 0px

    .left h2
      padding-left: 20px !important

    .content
      padding: 30px 10px 10px 10px
      text-align: center
      float: none
      table
        font-size: 10px !important
        i
          font-size: 8px !important
        thead
          tr
            th
              padding: 5px
            td
              padding: 5px
        tbody
          tr
            th
              padding: 5px 10px 5px 0
            .border
              border-top: 2px solid #cc2127
              border-bottom: 2px solid #cc2127
            td
              padding: 10px 0



.service-contact
  margin-top: 140px
  .form-inputs
    padding: 0 40px 40px

.reserver
  display: inline-block
  width: 100%
  #fb-root
    display: inline
    float: left
    padding: 10px
  .btn-reserve
    display: inline
    float: right
    padding: 10px
    .btn
      background: #cc2127 !important
      color: #fff !important
      cursor: pointer
      border-radius: 4px
      font-size: 14px
      height: 28px
      padding: 4px 12px 2px 12px !important


.wrapper4
  background-color: #FFF
  padding: 60px 0 50px 0
  section
    color: #000
    a
      color: #000 !important
    #cover-image
      position: relative
      width: 100%
      padding-bottom: 25%
      .cover-image
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        overflow: hidden
    #profile-image
      margin: -64px auto 0
      .profile-image img
        width: 128px
        height: 128px
        z-index: 3
        position: absolute
        left: 43.5%
      .img-circle
        background-color: rgba(243,246,248,.94)
        border: 4px solid #fff
        box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15)
    .title-image
      margin-top: 100px
      a
        text-decoration: none
        color: #cc2127 !important
  .nav-tabs
    border-bottom: none
    display: inline-block
    text-align: center
  .nav-tabs > li.active > a
    background: #eee
  .nav-tabs > li.active > a
    border: none
    &:hover, &:focus
      border: none
  .tab-content
    padding-top: 20px
  #down
    display: none
  #angle-down
    text-decoration: none
    cursor: pointer

.wrapper7
  background-color: #EEEEEE
  padding: 30px 0
  h2
    color: #000
    padding-bottom: 30px

.bloc-effectif
  .bloc-nom
    h4
      color : #222
    h5
      color: #cc2127
  .zoom
    &:hover, &:active, &:focus
      position: relative
      z-index: 100
      .bloc-nom
        background: #fff
        width: 100%
        margin-top: -1px
        padding-bottom: 10px
        margin-bottom: 20px
        min-height: 50px
        h4
          color : #222
        h5
          color: #cc2127
  .nav-tabs
    a
      text-decoration: none
      color: #777777 !important
      font-weight: 500 !important
      cursor: pointer
      &:hover
        color: #cc2127 !important
        background-color: #fff !important
      &:active
        color: #cc2127 !important
        background-color: #fff !important
  .tab-pane
    margin-top: 20px

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths
  position: relative
  min-height: 1px
  padding-right: 15px
  padding-left: 15px

.col-xs-5ths
  width: 20%
  float: left

.col-zoom
  -webkit-transition: all 0.35s ease-in-out
  -moz-transition: all 0.35s ease-in-out
  transition: all 0.35s ease-in-out
  position: relative
  min-height: 1px
  padding-right: 15px
  padding-left: 15px
  width: 14.285%
  float: left

.col-zoom.no-active
  -webkit-transition: all 0.35s ease-in-out
  -moz-transition: all 0.35s ease-in-out
  transition: all 0.35s ease-in-out
  width: 14.08%
  float: left

.col-zoom.active
  -webkit-transition: all 0.35s ease-in-out
  -moz-transition: all 0.35s ease-in-out
  transition: all 0.35s ease-in-out
  width: 15.5%
  float: left

.row-zoom
  -webkit-transition: all 0.35s ease-in-out
  -moz-transition: all 0.35s ease-in-out
  transition: all 0.35s ease-in-out

.center-boxes
  margin: 0 -4% 0 4%

.bandeau
  top: 78px

@media (min-width: 768px)
  .display-screen
    display: none !important

@media (max-width: 767px)
  .popup-footer
    left: auto !important
    height: 365px !important
  .navbar
    .navbar-collapse
      margin-top: 0px
      margin-bottom: 0px
  .navbar-header #log
    padding-left: 37px
  #log
    height: 78px
    width: auto !important
  footer .barre
    bottom: 145px
  img
    width: 100%
  .display-mobile
    display: none !important
  .wrapper section
    margin-top: 25%
  .vcenter
    display: block
    align-items: center
    margin: 25px 0
  .module
    font: bold 40px "Roboto"
  .partenaire-social
    .col-md-2 img
      width: 50% !important
    .space
      padding: 20px 0

  .col-zoom
    width: inherit
    img
      width: 50%
    .bloc-nom
      h4, h5
        color: #222

  .row.sponsors
    .logo-sponsors
      img
        width: 20%

  .navbar-right
    margin-top: -5px
    padding-top: 0

  .navbar-fixed-top
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important

  .navbar-right
    margin-right: -15px !important

  .footer-logo
    img
      width: 100% !important

@media (min-width: 768px)
  .col-sm-5ths
    width: 20%
    float: left

@media (min-width: 992px)
  .col-md-5ths
    width: 20%
    float: left

@media (min-width: 1200px)
  .col-lg-5ths
    width: 20%
    float: left

.footer-logo
  position: fixed
  bottom: 24px
  z-index: 1000000
  width: 100%
  .row
    margin: 0
    img
      width: 50%

.eapps-instagram-feed-title-container
  display: none !important
