%footer
  .container

    .text-center
      = image_tag("logo-h-training-black.png", :alt => "logo h-training", :height => "50px", style: "opacity:0.7")
      %br
      %br
      © Copyright 2018 &nbsp; H-training, tous droits réservés
      |
      = link_to 'contact', contact_path, title: "contact"
      |
      = link_to 'mentions légales', mentions_legales_path, title: "mentions légales"
