%footer
  .container
    .text-right
      © Copyright 2018 &nbsp; h-training
      |
      = link_to 'contact', contact_path, title: "contact"
      |
      = link_to 'mentions légales', mentions_legales_path, title: "mentions légales"
