.popup-footer{:style => "width:25%"}
  .text-center
    %h5 Téléchargez l’application
    %button.close
      %span{"aria-hidden" => "true"} ×
  .container-fluid.popup-footer-body
    .text-center
      .row
        .col-xs-6.text-right
          = link_to("https://apps.apple.com/us/app/h-training/id1561959285", title: "Téléchargement de l'app H-training sur App Store", :target => "_blank") do
            = image_tag("logo-app-store.png", :alt => "logo app store")
        .col-xs-6.text-left
          = link_to("https://play.google.com/store/apps/details?id=com.goodbarber.htraining1", title: "Téléchargement de l'app H-training sur Google Play", :target => "_blank") do
            = image_tag("logo-google-play.png", :alt => "logo google play")
