.popup-footer
  .text-center
    %h5 Newsletter
    %button.close
      %span{"aria-hidden" => "true"} ×
  .container-fluid.popup-footer-body
    .text-center
      Ne manquez plus une seule info de notre actualité !
    .text-center
      = simple_form_for(:newsletter, html: { class: 'form-horizontal' }) do |f|
        .form-inputs
          .barre
            = f.input :email, required: false, label: false, placeholder: "E-mail : John.doe@h-training.com"
          %span#button-newsletter.btn.btn-contact{:type => "button"}
            %span.ladda-label
              JE M'INSCRIS
          #okidokki
